/* For the banner at the top */
.welcome-delivery-banner {
    background: #F8F9FA;
    z-index: 1001 !important;
    position: absolute;
    top: 0;
}

/* Class for welcome page overlay screen */
.homepage-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: black;
    position: fixed;
    background: #b4e7b5;
    z-index: 100;
}