/* For the banner at the top */
.welcome-delivery-banner {
    background: rgba(102, 205, 102, 0.9);
    color: white;
    z-index: 1001 !important;
    position: absolute;
    top: 0;
}

.welcome-delivery-banner-base {
    display: none;
}

/* Class for welcome page overlay screen */
.homepage-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: black;
    position: fixed;
    background: #c8f8ff;
    z-index: 100;
}

