body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, Helvetica;
}

/* For the banner at the top */
.welcome-delivery-banner {
    background-color: #00974b;
    color: white;
    z-index: 1001 !important;
    position: absolute;
    top: 0;
}

/* Class for welcome page overlay screen */
.homepage-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: black;
    position: fixed;
    background: #c8f8ff;
    z-index: 100;
}

