{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Edit Your Profile Information</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 offset-1">
                <form class="mt-3"
                      action="{% url 'edit_profile' userkey=user_profile.user.pk %}"
                      method="post"
                      id="profile-update-form"
                      aria-label="Update profile form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-black rounded-0 float-left">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-md-2 col-lg-4">
                <a class="btn btn-danger larger-text"
                   aria-label="Manage account deletion"
                   href="{% url 'account_deletion' userkey=user_profile.user.pk %}">Manage your account here.</a>
            </div>
        </div>
    </div>

{% endblock content %}
