{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>The Brews Reviews!</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 text-lg-center text-md-left text-sm-left text-xs-left">
                {% for post in blog_posts %}
                    <a aria-label="Go to individual blog post" href="{% url 'blog_post' pk=post.pk %}"><h2>{{ post.title }}</h2></a>
                    <p>{{ post.content|truncatechars:90 }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
