.shop-img {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.heavier-font {
    font-weight: 600;
}

/* Google font-delius */
.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Delius", cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}