body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.shop-img {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
}

.bag-img {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    height: auto;
}

.heavier-font {
    font-weight: 600;
}

/* Google font-delius */
.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Delius", cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgba(102, 205, 102, 0.4);
}

main {
    flex: 1 0 auto;
}

.message-container {
    position: absolute;
    z-index: 1000;
}

h1 {
    text-align: center;
}

.product {
    border: 2px solid black;
    border-style: dashed;
    border-radius: 10px;
}

a {
    color: black;
}

button.btn:hover,
a.btn:hover {
    text-decoration: underline;
    color: #0056b3;
}

.btn,
button {
    border-radius: 5px;
    background-color: #e67e22;
    border: 1px solid black;
}

a strong {
    color: #e67e22;
    text-decoration: underline;
}

#account-base {
    max-width: 400px;
}