{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'welcome/css/welcome.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid welcome-delivery-banner mt-0 pt-2 mb-2">
        <div class="row">
            <div class="col-12 text-center">
                <h1>We Deliver Worldwide!</h1>
            </div>
        </div>
    </div>

    <div class="homepage-overlay d-flex justify-content-center align-items-center">
        <div class="container-div">
            <div class="container-sm">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 d-flex flex-column align-items-center">
                                <h2 class="my-5">
                                    Welcome...
                                    <span class="heavier-font ml-auto">To Ally P's Luxury Teas Leeds!</span>
                                </h2>
                                <div class="col-12 d-flex justify-content-center">
                                    <ul class="list-unstyled d-flex flex-column align-items-center">
                                        <li class="mb-2 p-2 orange-text taller-font give-border">
                                            <a href="{% url 'shop' %}">Shop</a>
                                        </li>
                                        <li class="mb-2 p-2 orange-text taller-font give-border">
                                            <a href="{% url 'blog' %}">The Brews Reviews!</a>
                                        </li>
                                        <li class="mb-2 p-2 orange-text taller-font give-border">
                                            <a href="{% url 'about_us' %}">About Us</a>
                                        </li>
                                        {% if request.user.is_superuser %}
                                            <li class="mb-2">
                                                <a href="{% url 'superuser_admin_page' %}">Go to the superuser admin</a>
                                            </li>
                                        {% endif %}
                                        {% if request.user.is_authenticated %}
                                            <li class="mb-2 p-2 orange-text taller-font give-border">
                                                <a href="{% url 'profile' %}">Your account</a>
                                            </li>
                                        {% else %}
                                            <li class="mb-2 p-2 orange-text taller-font give-border">
                                                <a href="{% url 'account_signup' %}">Sign-in/Register</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
