{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,.float: none;margin-left:0;margin-right:0;text-align:center;align-self: flex-start, initial-scale=1.0" />
        <meta name="description"
              content="I travel the world looking for the best teas to sell from my shop based in Leeds. Although based there I ship worldwide! I also built this website to be a great place to find out more about loose leaf teas so there should be plenty for you to click on if you want to learn about it!">
        <meta name="keywords"
              content="Leeds tea merchant, Leeds tea store, northern tea seller UK, tea merchant Yorkshire, tea blends Leeds, tea merchant UK, loose leaf tea Leeds, tea supplies Leeds">
        <script src="https://kit.fontawesome.com/bc5efad812.js"
                crossorigin="anonymous"></script>

        <link rel="icon"
              href="https://img.icons8.com/?size=100&id=66650&format=png&color=000000"
              type="image/png">
        <!-- Google font-delius -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap"
              rel="stylesheet">
        <!-- Bootstrap 4 -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
        <!-- My CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <!-- Extra custom CSS -->
        {% block extra_css %}
        {% endblock extra_css %}
        <title>Ally P's Luxury Teas Leeds</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <div class="navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav text-center">
                            <li class="nav-item d-sm-none d-lg-inline-block">
                                <a class="nav-link" aria-label="Go to home page" href="{% url 'welcome' %}">
                                    Ally P's Luxury Teas
                                </a>
                            </li>
                            <li class="nav-item d-lg-none">
                                <a class="nav-link" aria-label="Go to home page" href="{% url 'welcome' %}">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Go to shop" href="{% url 'shop' %}">Shop</a>
                            </li>
                            <li class="nav-item d-none d-lg-inline-block">
                                <a class="nav-link" aria-label="Go to blog page" href="{% url 'blog' %}">The Brews Reviews!</a>
                            </li>
                            <li class="nav-item d-lg-none">
                                <a class="nav-link" aria-label="Go to blog page" href="{% url 'blog' %}">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Go to about us page" href="{% url 'about_us' %}">About Us</a>
                            </li>

                            {% if request.user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       id="accountDropdown"
                                       role="button"
                                       data-toggle="dropdown"
                                       aria-expanded="false">Account</a>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="accountDropdown">
                                        <a class="dropdown-item" href="{% url 'profile' %}">View Profile</a>
                                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" aria-label="Account signup page" href="{% url 'account_signup' %}">Sign-in/Register</a>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link" aria-label="View your bag" href="{% url 'view_bag' %}"><i class="fas fa-shopping-bag fa-lg"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% if request.user.is_superuser %}
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h3><a href="{% url 'superuser_admin_page' %}">Go To Superuser Admin Page</a></h3>
                    </div>
                </div>
            </div>
            {% endif %}
        </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include "includes/toasts/toast_error.html" %}
                    {% elif level == 30 %}
                        {% include "includes/toasts/toast_warning.html" %}
                    {% elif level == 25 %}
                        {% include "includes/toasts/toast_success.html" %}
                    {% else %}
                        {% include "includes/toasts/toast_info.html" %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="text-center mt-3">
        <h4>Contact:</h4>
        <p><a aria-label="Go to about page" href="#" rel="noopener"><span class="fab fa-facebook-f" aria-hidden="true"></span>Find us on Facebook!</p></a>
        <p>Or go to our <a href="{% url 'about_us' %}">About Us</a> page to fill out the enquiry form!</p>
    </footer>
    <!-- Scripts: -->
    <!-- J-Query -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap 4.6 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Extra custom JS -->
    {% block extra_js %}
        <script type="text/javascript">
            $(document).ready(function() {
            $(".toast").toast("show");
        });
        </script>
    {% endblock extra_js %}
</body>
</html>
