{% extends "base.html" %}
{% load shop_tools %}
{% load static %}

{% block content %}

    <div class="container">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col-12 col-md-6">
                {% if "placeholder" in product.picture.url %}
                    <img class="shop-img"
                         width="100%"
                         height="auto"
                         src="{% static 'images/camellia-sinensis.jpg' %}"
                         alt="Camellia sinensis plant">
                {% else %}
                    <img src="{{ product.picture.url }}"
                         alt="{{ product.name }}"
                         class="shop-img"
                         width="100%"
                         height="auto" />
                {% endif %}
                <form class="form"
                      action="{% url 'add_to_bag' product_id=product.id %}"
                      method="post">
                    {% csrf_token %}
                    <label for="weight">Choose Quantity:</label>
                    <select name="weight" id="weight">
                        <option value="30">30g: £{{ product.base_price_number|floatformat:2 }}</option>
                        <option value="100">100g: £{{ product.base_price_number|calculate_cost:3|floatformat:2 }}</option>
                        <option value="300">300g: £{{ product.base_price_number|calculate_cost:8|floatformat:2 }}</option>
                    </select>
                    <button type="submit" class="btn">Add to Basket</button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                </form>
            </div>
            <div class="col-12 col-md-6 text-right">
                <p>Origin: {{ product.origin }}</p>
                <p>Profile: {{ product.flavor_profile }}</p>
                <p>Caffiene level: {{ product.caffeine_level }}</p>
                
                {% if product.blog_post %}

                    <p>
                        <em>" {{ product.blog_post.content|truncatechars:120 }}"</em>
                    </p>
                    <span><a aria-label="Read the blog post of this tea"
   href="{% url 'blog_post' pk=product.blog_post.pk %}"
   class="btn mb-2">Blog Post Available Here!</a></span>
                {% else %}
                    <p>A blog post will follow soon!</p>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        {% if from_superuser %}
                            <a aria-label="Back to superuser admin"
                               href="{% url 'superuser_admin_page' %}"
                               class="btn">Back to Superuser admin</a>
                        {% else %}
                            <a aria-label="Go back to shop" href="{% url 'shop' %}" class="btn mb-2">
                                <span>Back to Shop</span>
                                <span>
                                    <i class="fas fa-shopping-bag"></i>
                                </span>
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% if not from_superuser %}
                    {% if bag_items %}
                    {% if request.user.is_authenticated %}
                        <div class="col-12">
                            <a href="{% url 'view_bag' %}" class="btn" aria-label="Go to checkout">
                                <span class="text-uppercase">Go To Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <a href="{{ signup_url }}" class="btn" aria-label="Go to sign up">
                                <span class="text-uppercase">Sign up to go to checkout!</span>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
